*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #222; 
}
.card{
    width: 90%;
    max-width: 30rem;
    background: linear-gradient(100deg, #00feba, #fafa04) ;
    color: #fff;
    margin: 6.25rem auto 0;
    border-radius: 1.5rem;
    padding: 3rem 2.2rem;
    text-align: center;
    min-width: 300px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0.5rem 1.8rem;
    border-radius: 2.8rem;
    flex: 1;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
}
.search button img{
    width: 1rem;
}
.weathe-icon{
    width: 10rem;
    margin-top: 2rem;
}
.weathe h1{
    font-size: 7rem;
    font-weight: 500;
}
.weathe h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 1rem;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 5rem;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.forecast{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media only screen and (max-width: 500px) {
    .search input {
        width: 70%;
    }
    .details{
        display: flex;
        flex-direction: column;
    }
    .col{
        padding-bottom: 1.5rem;
    }
  }
#myChart{
    padding-top: 1rem;
}
hr{
  margin-top: 2rem;
  margin-bottom: 2rem;
}